# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
# node_modules

# CSS Related
.sass-cache

# Grunt intermediate storage
.grunt

# Compiled binary addons 
build/Release

# Logs
logs
*.log

# Config file with your app values
config.js