<div class="player">
    <div class="player--scrubber">
      <div class="scrubber--icon"></div>
      <div class="scrubber--mask"></div>
    </div>

    <div class="player--actions">
      <div class="icon-play"></div>
      <div class="icon-pause"></div>
      <div class="icon-previous"></div>
      <div class="icon-next"></div>
    </div>

    <div class="player--info">
      <div class="info--title">{{ title }}</div>
      <div class="info--artist">{{ artist }}</div>
    </div>

    <div class="player--action" style="display: none;">
      <div class="action--menu">
          <div class="menu--icon"></div>
          <div class="menu--icon"></div>
          <div class="menu--icon"></div>
      </div>
    </div>

</div>

<script>
  var sound;
  var prev = document.getElementsByClassName('icon-previous');
  var next = document.getElementsByClassName('icon-next');
  var pause = document.getElementsByClassName('icon-pause');
  var play = document.getElementsByClassName('icon-play');
  var scrubber = document.getElementsByClassName('scrubber--mask');
  var player = parent.window.root.GLOBAL.window.clientApp.player;

  soundManager.setup({
    url: 'soundmanager/swf/',
    flashVersion: 9,
    preferFlash: true,
  });

  soundManager.onready(function(){
    playTrack('{{serverURL}}', '{{url}}');
  });

  function playTrack(serverURL, url){
    sound = soundManager.createSound({
      id: 'rtmpPlayer',
      serverURL: serverURL,
      url: url
    })

    sound.play({
      whileplaying: function() {        
        scrubber[0].style.width = (this.position/this.durationEstimate)*100 + '%';
      },
      onfinish: function(){
        player.next();
        scrubber[0].style.width = 0;
      }
    });
  }

  prev[0].onclick = function(){
    player.previous();
    return false;
  };

  next[0].onclick = function(){
    player.next();
    return false;
  };

  pause[0].onclick = function(){
      pause[0].style.opacity = 0;
      play[0].style.opacity = 1;
      play[0].style.zIndex = 10;

      sound.pause();
      return false;
  };

  play[0].onclick = function(){
      pause[0].style.opacity = 1;
      play[0].style.opacity = 0;
      play[0].style.zIndex = 0;

      sound.play();
      return false;
  };

</script>
