<div class="player">
    <div class="player--scrubber"></div>
    <div class="player--info">
      <div class="info--title">{{ title }}</div>
      <div class="info--artist">{{ artist }}</div>
    </div>

    <div class="player--action">
      <div class="action--menu">
          <div class="menu--icon"></div>
          <div class="menu--icon"></div>
          <div class="menu--icon"></div>
      </div>
    </div>

    <div class="player--actions">
      <div class="icon-previous"></div>
      <div class="icon-pause"></div>
      <div class="icon-play"></div>
      <div class="icon-next"></div>
    </div>
</div>

<script>
  var sound;

  soundManager.setup({
    url: 'soundmanager/swf/',
    flashVersion: 9,
    preferFlash: true,
  });

  soundManager.onready(function(){

      sound = soundManager.createSound({
        id: 'rtmpPlayer',
        serverURL: '{{serverURL}}',
        url: '{{url}}',
        onconnect: function(bConnect) {
          // this.connected can also be used
          soundManager._writeDebug(this.id+' connected: '+(bConnect?'true':'false'));
        }
      })

      sound.play();
  });

  var pause = document.getElementsByClassName('icon-pause');
  var play = document.getElementsByClassName('icon-play');

  pause[0].onclick = function(){
      pause[0].style.opacity = 0;
      play[0].style.opacity = 1;

      sound.pause();
      return false;
  };

  play[0].onclick = function(){
      pause[0].style.opacity = 1;
      play[0].style.opacity = 0;

      sound.play();
      return false;
  };


</script>
